body{
  --pink: #FF1C68;
}

.btnpure {
  height: 20px;
  cursor: pointer;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  background: #ffa600;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btnpure:hover {
  background: #ffd119;
  text-decoration: none;
}

.btngray{
  background: #cccccc;
  height: 20px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.circle{
  position: absolute;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  background-color: #ffffff;
  color: white;
  font-family: Arial;
  font-size: 18pt;
  text-align: center;
  vertical-align: middle;
  line-height: 100px;
}

.chance_circle {
  background-color: #3cb0fd
}

.event_circle {
  background-color: orange;
}

.payday_circle {
  background-color: #33ff33;
}

.jail{
  position: absolute;
  height: 500px;
  width: 500px;
  border-radius: 50%;
  background-color: #ffffff;
  color: black;
  font-family: Arial;
  font-size: 18pt;
  text-align: center;
  vertical-align: middle;
  line-height: 100px;
}

#start{
  background-color: orange;
}

.player{
  position: absolute;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  color: white;
  z-index: 10;
  text-align: center;
  vertical-align: middle;
  line-height: 50px;
}

#character1{
  background-color: red;
}

#character2{
  background-color: green;
}

#character3{
  background-color: yellow;
}

#character4{
  background-color: cyan;
}

#info{

}

#resource{
  color: white;
  font-family: Arial;
}

#scoreBoard{
  color: orange;
  font-family: Arial;
}

.quad{
  flex: 1;
  color: white;
  font-family: Arial;
  background-color: rgba(0, 0, 0, 0.5);
  border: 5px dotted white;
  padding: 15px;
  margin: 10px;
}

.q_header{
  height: 10%;
}

.q_content{
  height: 60%;
}

.q_decision{
  height: 10%;
}

.yes{
  visibility: hidden;
  margin-right: 25px;
}

.no{
  visibility: hidden;
  margin-left: 25px;
}

h1 {
  font-size: 32px;
  line-height: 28px;
  margin-bottom: 10px;
}

button {
  cursor: pointer;
  color: white;
  background-color: #3cb0fd;
  font-size: 24px;
  border: none;
  padding: 20px 25px;
}

.modal-cancel {
  background-color: white;
  color: var(--pink);
}

.modal-ok {
  background-color: orange;
}

.modal-shade {
  display: none;
  opacity: 0;
  background: radial-gradient(circle at center, rgba(0, 0, 0, 0.4) 0, rgba(0,0,0,0.8) 100%);
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  will-change: opacity;
  z-index: 45;
}

.modal-container {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 50;  
}

.modal {
  opacity: 0;
  box-shadow: 0 10px 50px rgba(0, 0, 0, 0.3);
  background: white;
  border-radius: 5px;
  padding: 30px 45px;
  min-width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
  
.modal-actions { 
  align-self: flex-end;
  display: flex;
  flex-direction: row;
}

.image-btn{
  display: block;
  border: 3px solid orange;
  border-radius: 50%;
}

